.carousel-control-next-icon,.carousel-control-prev-icon {
    background-color: rgba(0, 0, 0, 0.74);
    color: white;
    padding: 27px;
    margin-top: 70px;
    border-radius: 50%;
}
.get_involved{
    margin-top: 30px;
}
.heading{
    margin-top: 0px;
    margin-bottom: 10px;
}
.head{
    display: block;
    font-size: 30px;
    font-weight: 500;
}
.get_involved1{
    background:lawngreen;
    padding: 0px 0px;
    border-top: 2px solid #1e8035;
    border-bottom: 3px solid black;
    margin-bottom: -20px;
}
.inv_content h4{
    font-size: 17px;
    font-weight: 500;
    color: #333333;
    margin-top: 5px;
    margin-bottom: 5px;
}
.inv_content img{
    padding-right: 10px;
}
.inv_content a {
    color: #337ab7;
    text-decoration: none;
}

// Get involved 2
.get_involved2{
    max-width: 100%;
}
.cust{
    height: 300px;
    background-color: #424555;
}
.custs{
    height: 330px;
    background-color: #a2473e;
}
.block_inner{
    width: 100%;
    padding: 0%15%0%15%;
    text-align: left;
    margin: 0 auto;
    margin-top: 40px;
}
.cust_heading{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}
.cust_head{
    font-weight: 500;
    font-style: normal;
    color: #ffffff;
    font-size: 28px;
}
.sub_par{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 20px;
}
.sub_para{
    font-size: 14px;
    line-height: 25px;
    font-weight: 200;
    color: #f5f5f5;
}
.fas, .fa {
    border-width: 0px;
    width: 50px;
    height: 50px;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color: #ffffff;
}
.cust_icon{
        display: block;
        text-align: center;
        padding: 20px 0 20px 0;
    }
    
    // <!-- Second Step -->

.get_involved3{
    max-width: 980px;
} 
.paad{
    margin-bottom: 40px;
}   
.one_third{
    margin: 0 1.7%;
}
.icon_box{
    padding-top: 60px;
    margin-top: 30px;
    background-color: #fcfcfc;
    border: 2px solid #eaeaea;
    padding: 20px 17px 30px;
    margin-bottom: 20px;
}
.icon_box_inner{
    text-align: center;
    margin-top: 40px;
}
.box_heading{
    font-size: 20px;
    line-height: 26px;
    font-weight: bold;
    font-style: normal;
    color: #31333b;
}
.icon_box_text{
    margin-bottom: 10px;
}
.icon_box_text p{
    padding: 0 0 22px;
    margin: 0;
    font-size: 14px;
    color: #000000c9;
}
.icones{
    position: absolute;
    top: 0px;
    margin-left: 90px;
    font-size: 24px;
    line-height: 60px;
    width: 60px;
    height: 60px;
    border-width: 0px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: #d14f42;
}