img{
    object-fit: cover;
}
// IMAGE TOP ///
.outreach img{
    object-fit: cover;
    height: 500px;
    filter: brightness(70%);
}
.overlay{
    position: absolute;
    top: 35%;
    left: 40%;
    font-size: 3.5rem;
    line-height: 1.3;
    word-spacing: 9px;
    font-weight: 700;
    color: #fafafa;
    font-family: initial;;
}


// OUT REACH 
.outreach1{
    padding: 70px 140px;
    margin-top: 0; 
    text-align: center;
    background-color: #ad95f221; 
 }
 .count_lg{
     max-width: 90%;
 }
 .ab{
     font-size: 35px;
     display: block;
     color: #072366;
     font-weight: 800;
     text-transform: capitalize;
     line-height: 0.4rem;
     margin-bottom: 40px;
     text-align: center;
 }
 .outreach1 p{
    margin-top: 0;
    margin-bottom: 1.55555rem;
    font-size: 15px;
    color: #38046a;
    line-height: 2rem;
    word-spacing: 0.3333rem;
    text-align: center;
   
}
.outreach2 p{
    text-align: justify;
}
// part 2
.o_r{
background: #ad95f221 !important;
}

.paad{
    margin-top: 30px;
}


.para2{
    padding:50px
}


.para2 p{
    margin-top: 0;
    margin-bottom: 1.55555rem;
    font-size: 15px;
    color: #38046a;
    line-height: 2rem;
    word-spacing: 0.3333rem;
    text-align: justify;
}

// Media Query

@media only screen and (max-width: 425px) {
    .overlay{
        position: absolute;
        top: 35%;
        left: 23%;
        font-size: 2rem;
        line-height: 1.3;
        word-spacing: 9px;
        font-weight: 700;
        color: #fafafa;
        font-family: initial;;
    }
    .ab{
        font-size: 20px;
        display: block;
        color: #072366;
        font-weight: 600;
        text-transform: capitalize;
        line-height: 0.4rem;
        margin-bottom: 40px;
    }
    .outreach1{
        padding: 40px 20px;
    }
    .outreach1 p{
        text-align: justify;
    }
}