// toolbar css
.top-nav{
  min-height: 114px;  
  background: transparent;
  position: fixed;
  top: 0px;
  z-index: 999;color:#fff;
  transition-property: min-height;
  transition-duration: .5s;
}
.top-nav:hover{
  background-color: white;
  color: black;
}

.addClass{
    min-height: 94px;  
 /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#3f51b5+0,2989d8+41,2989d8+52,2989d8+52,207cca+66,207cca+66,3f51b5+100 */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f51b5', endColorstr='#3f51b5',GradientType=0 ); /* IE6-9 */
box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(63,81,181, 0.4);
    color: black !important;
    position: fixed;
    top: 0px;
    z-index: 999;
    background-color: white;
}

.example-icon {
    padding: 0 14px;
  }
  span.one:focus {
    outline: none;
}
  
  .example-spacer {
    flex: 1 1 auto;
  }
  span.one {
    padding: 6% 5px 0px 5px;
    letter-spacing: .06em;
    padding-bottom: .8em;
    font-size: 1.33333rem;
    line-height: 1.78571;
    font-weight: 700;
    margin-left: 25px;
    text-decoration: none;
    cursor: pointer;
}

span.one::after{
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: black;
  transition: width .7s;
}
span.one:hover::after{
  width: 100%;
  transition: width .7s;
}
  .addOne{
    color: black;
  }
  img.avatar-01 {
    width: 120px;height: auto;
  }

  span.last.one {
    margin-right: 4%;

  }
  @media screen and (max-width: 950px) {
    .top-nav{
      height: 60px;
      width: 100%;
    }
    
    span.one {
      padding: 0px 3px;
      font-size: 10px;
      color: white;
      font-weight: 500;
      text-decoration: none;
      cursor: pointer;
  }
  span.last.one {
    padding-right: 0px;
}
img.avatar-01 {
  width: 50px;height: auto;
  padding-top: 10px;
}
  }
  // .mat-toolbar-multiple-rows {
  //   min-height: 64px;  
  //   background: #000b1b9e;
  //   color: white;
  //   position: fixed;
  //   top: 0px;
  //   z-index: 999;
  // }
  
  
  .logo{
    position: fixed;
    top: 6%;
    left: 8%;
    z-index: 1001;
  }
  
  .txt{
    text-decoration: none;
    font-size: 20px;
    margin-left: 0px;
    border: 1px;
    border-radius: 5px;
    text-align: center;
  }

  @media screen and (max-width: 950px) {
    .txt{
      font-size: 5px;
    } 
  }


  .txt1{
    color: white;
  }

  .txt2{
    color: white;
  }
  
 
  
  /////////////////////////////////////////////////////////////