<!-- playsinline="playsinline" autoplay="autoplay" loop="loop" -->

<section >
    <div class="overlay-wcs"></div>
    <video
    autoplay loop controls>
      <source src="assets/video/home-video.mp4" type="video/mp4">
        <source src="assets/video/home-video.ogg" type="video/ogg">
    </video>
    <div class="container h-100">
      <div class="d-flex h-100 text-center align-items-center">
        <div class="w-100 text-white">
          <h1>SARODAY FOUNDATION FOR</h1>
          <p class="lead mb-0">EDUCATING THE UNEDUCATED<br>
            FEEDING THE HUNGRY CHILDHOOD<br>
            SKILLING THE UNSKILLED
            </p>
        </div>
      </div>
    </div>

    <svg class="wave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#fff" fill-opacity="1"
       d="M0,256L48,229.3C96,203,192,149,288,154.7C384,160,480,224,576,218.7C672,213,768,139,864,
       128C960,117,1056,171,1152,197.3C1248,224,1344,224,1392,224L1440,224L1440,320L1392,320C1344,
       320,1248,320,1152,320C1056,320,960,320,864,320C768,320,672,320,576,320C480,320,384,320,288,
       320C192,320,96,320,48,320L0,320Z"></path></svg>
  </section>
  